# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
QUICKSTART.md
SQL_AGENT_EXAMPLES.md
TESTING_GUIDE.md

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Data
#data/docs/*
#data/sql/*
!data/docs/.gitkeep
!data/sql/.gitkeep

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
/tests*
nul

# Streamlit
.streamlit/secrets.toml

test_deepeval_api.py
evaluation/recompute_metrics.py
evaluation/recompute_metrics_skip.py
evaluation/recompute_metrics_20.py
evaluation_results_full
evaluation_results_sql
chroma_db/